<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>ToDo List</h1>
    <nav>
      <a href='/'>Home</a>
      <a href='/todos'>Go to ToDo List</a>
    </nav>
    <div class='container'>
        {{#each todos}}
          <li>{{this.title}} - {{this.description}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>