<html>

<head>
  <title>{{title}}</title>
</head>

<body>
  <h1>ToDo List</h1>
  <nav>
    <a href='/'>Home</a>
    <a href='/todos'>Go to ToDo List</a>
  </nav>
  <div>
    <h2>Create New ToDo</h2>
    <form action="/todos" method="post">
      <div>
        <input type="text" name="title" placeholder="Title" required />
      </div>
      <div>
        <input type="date" name="dueDate" placeholder="Due Date" required />
      </div>
      <div>
        <input type="text" name="description" placeholder="Description" />
      </div>
      <div>
        <button type="submit">Add ToDo</button>
      </div>
    </form>
  </div>
  <div class='container'>
    {{#each todos}}
    <li>{{this.title}} - ID: {{this.id}} - {{this.description}}</li>
    {{/each}}
    </ul>
  </div>
  <div class="search-container">
    <h2>Find ToDo by ID</h2>
    <form id="find-todo-form">
      <input type="number" id="todo-id" placeholder="Enter ToDo ID" required />
      <button type="submit">Find</button>
    </form>
  </div>
</body>
<script>
  document.getElementById('find-todo-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const todoId = document.getElementById('todo-id').value;
    if (todoId) {
      window.location.href = `/todos/${todoId}`;
    }
  });
</script>

</html>